useDynLib(RcppDL)
exportPattern("^[[:alpha:]]+")
import(methods, Rcpp)

exportMethods(PretrainLearningRate,
              predict,
              finetune,
              pretrain,
              CorruptionLevel,
              PretrainingEpochs,
              FinetuneLearningRate,
              FinetuneEpochs)

exportClasses("deeplearning",
              "sda")
